body{
    background-color: #FBFAF5;
    font-size: 14px;
    font-family: "Montserrat";
    text-transform: uppercase;
}
a, a:visited, a:hover{
    color: #FBFAF5;
}
header{
    background-color: #B72100;
    color: #FBFAF5;
    padding: 20px;
}
.header_header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.header_header_text, .header_header_main, .header_header_catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header_header_text p:nth-of-type(1){
    font-size: 55px;
    font-weight: 500;
}
.header_header_text p:nth-of-type(2){
    font-size: 20px;
}
.name{
    padding: 12px 10px;
	margin: 20px 55px 30px 20px;
    width: 350px;
    position: relative;
	border: 1px solid #ccc;
}
.name input{
    width: 260px;
    font-size: 16px;
	background-color: #FBFAF5;
}
button{
    width: 350px;
    height: 35px;
    display: inline-block;
    background-color: #B72100;
    color: #FBFAF5;
    border-radius: 9px;
    margin: 0 auto 20px 20px;
    font-size: 14px;
    font-family: "Montserrat";
    text-transform: uppercase;
}
.debt{
    margin: 20px;
    font-size: 14px;
    background-color: rgba(183, 33, 0, 0.8);
    border-radius: 10px;
    width: 700px;
    height: 80px;
    color: #FBFAF5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding: 10px;
}
#admin{
    color: rgb(169, 168, 168);
    text-decoration: underline;
    display: flex;
    justify-content: right;
    margin: 30px 30px 0 0;
    font-size: 14px;
    cursor: pointer;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    z-index: 1000; /* Выше других элементов */
    align-items: center;
    justify-content: center;
}

.overlay-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.overlay-content h2 {
    margin-bottom: 10px;
    font-size: 16px;
}

.overlay-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay-content input[type="password"], 
.overlay-content button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.overlay-content input[type="password"]{
    width: 300px;
    height: 35px;
    display: flex;
    align-items: center;
}

.overlay-content button {
    background-color: #B72100;
    color: white;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 35px;
}

.overlay-content button:hover {
    background-color: #961c01;
}
